<%
    loopParagraphs = function(pars) {
        pars.forEach(function(para) { %>
            <p>
                <%= para %>
            </p>
        <% })
    };

    loopLinks = function(pars) {
        pars.forEach(function(para) { %>
            <a>
                <%= para %>
            </a> <% })
    };

    infoLine = function(key, val) {
        %>
            <div class="info-line">
                <span>
                    <%= key %>
                </span>
                <span>
                    <%= val %>
                </span>
            </div>
        <%
    }

    makeDroplet = function(num, textBelow) {
        %>
            <div class="droplet">
                <span><%= num %></span>
                <img src="lang-toggle-purple.svg" alt="kropla">
            </div>
            <p>
                <%= textBelow %>
            </p>
        <%
    }
%>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="MyFontsWebfontsKit.css">
        <link rel="stylesheet" href="shared.css">
        <link rel="stylesheet" href="mobile.css">
        <link rel="stylesheet" href="desktop.css">
    </head>
    <body>
        <div class="page-brown page-1">
            <div class="header page-header">
                <div class="header__left">
                    <img src="womb.svg" alt="Pestka"></img>
                    <span class="header-title__title">
                        <%= text.p1.mainTitle %>
                    </span>
                </div>
                <a href="<%= text.toggleHref %>" class="header__right">
                    <img src="lang-toggle.svg"></img>
                    <span><%= text.toggle %></span>
                </a>
            </div >
            <p class="content with-padding"> 
                <%= text.p1.mainText %>
                <span class="with-bold">
                    <%= text.p1.textBold %>
                </span>
            </p>
            <img src="apricot.png" class="apricots" alt="morele"></img>
        </div>
        <div class="page-violet page-2">
            <div class="content with-padding">
                <% loopParagraphs(text.p2.paragraphs) %>
                <p class='footer'>
                    <%= text.p2.footer %>
                </p>
            </div>
            <img hidden class="kobieta" src="desktop/statue.png" alt="Kobieta">
        </div>
        <div class="page-brown page-3">
            <div class="page-3__header page-header">
                <%= text.p3.header %>
                <a href="<%= text.p3.fileName %>" download="<%= text.p3.fileName %>" class='page_3__pdf-container'>
                    <img src="lang-toggle.svg" alt="Pobierz pdf">
                    <span class="dl-anchor"></span>
                    <span>pdf</span>
                </a>
            </div>
            <div class="page-3__content with-padding">
                <section class="anatomy-section">
                    <section class="anatomy-section-ps">
                        <p>
                            <%= text.p3.paragraphsPt1[0] %>
                        </p>
                        <p>
                            <%= text.p3.paragraphsPt1[1] %>
                        </p>
                    </section>
                    <img hidden class="anatomy" src="desktop/anatomy.png" alt="Anatomia">
                </section>
                <section class="marrow-section">
                    <section class="marrow-section-ps">
                        <p>
                            <%= text.p3.paragraphsPt1[2] %>
                        </p>
                        <p>
                            <%= text.p3.paragraphsPt1[3] %>
                        </p>
                        <p>
                            <%= text.p3.paragraphsPt1[4] %>
                        </p>
                        <p>
                            <%- text.p3.paragraphsPt1[5] %>
                        </p>
                    </section>
                    <img hidden class="marrow" src="desktop/marrow.png" alt="Komorka">
                </section>
                <section class="droplets-section">
                    <div class="droplets-section__left">
                        <div>
                            <% makeDroplet(1, text.p3.belowDrop1) %>
                        </div>
                        <div>
                            <% makeDroplet(2, text.p3.belowDrop2) %>
                        </div>
                        <div>
                            <% makeDroplet(3, text.p3.belowDrop3) %>
                        </div>
                    </div>
                    <img hidden class="dildo" src="desktop/dildo.png" alt="Dildo">
                </section>
            </div>
        </div>
        <div class="page-violet page-4">
            <div class="page-4__header page-header">
                <%= text.p4.header %>
            </div>
            <img class="desktop-hidden surprise with-padding" src="surprise.png" alt="zaskoczenie">
            <div class="page-4__content with-padding">
                <section class="surprise-section">
                    <section class="surprise-section-ps">
                        <p>
                            <%- text.p4.paragraphs[0] %>
                        </p>
                        <p>
                            <%= text.p4.paragraphs[1] %>
                        </p>
                    </section>
                    <img hidden class="d-surprise" src="surprise.png" alt="surprise.png">
                </section>
                <section class="cursor-section">
                    <img hidden class="cursor" src="desktop/kursor.svg" alt="Kursor">
                    <p>
                        <%- text.p4.paragraphs[2] %>
                    </p>
                </section>
                <section class="beads-section">
                    <section class="beads-section__left">
                        <p>
                            <%- text.p4.paragraphs[3] %>
                        </p>
                        <p>
                            <%- text.p4.paragraphs[4] %>
                        </p>
                    </section>
                    <img hidden class="beads" src="desktop/beads.png" alt="beads">
                </section>
            </div>
        </div>
        <div class="page-brown page-5">
            <div class="page-5__header page-header">
                <%= text.p5.header %>
            </div>
            <img src="family.png" alt="Rodzina" class="family with-padding desktop-hidden">
            <div class="page-5__content with-padding">
                <section class="family-section">
                    <section class="family-section__left">
                        <p>
                            <%- text.p5.paragraphs[0] %>
                        </p>
                        <p>
                            <%- text.p5.paragraphs[1] %>
                        </p>
                    </section>
                    <img hidden class="family-d" src="desktop/family.png" alt="Rodzina">
                </section>
                <section class="droplets-section">
                    <img hidden class="cursor" src="desktop/kursor.svg" alt="Kursor">
                    <div>
                        <% makeDroplet(1, text.p5.belowDrop1) %>
                        <% makeDroplet(2, text.p5.belowDrop2) %>
                        <% makeDroplet(3, text.p5.belowDrop3) %>
                        <%= text.p5.lastParagraph %>
                    </div>
                </section>
            </div>
        </div>
        <div class="page-violet page-6">
            <div class="page-6__header page-header">
                <%= text.p6.header %>
            </div>
            <p class="with-padding">
                <%= text.p6.dOffice %>
            </p>
            <section class="page-6__body with-padding">
                <div class="page-6__links">
                    <img src="office.png" alt="Gabinet Lekarski" class="office">
                    <section class="dr-links">
                        <% loopLinks(text.p6.offices) %>
                    </section>
                </div>
                <img hidden class="beads" src="desktop/beads.png" alt="beads">
            </section>
        </div>
        <div class="page-brown page-7">
            <div class="page-7__header page-header">
                <%= text.p7.header %>
            </div>
            <div class="page-7__content with-padding">
                <section class="infos">
                    <% infoLine(text.infoKeys.phone, "+48 733 083 370") %>
                    <div class="info-line">
                        <span>E-mail</span>
                        <a href="mailto:<%= text.infoVals.email %>"><%= text.infoVals.email %></a>
                    </div>
                    <div class="social-margin social-line">
                        <span class="icon icon-insta"></span>
                        <span>@bezpestkowe</span>
                    </div>
                    <div class="social-margin social-line">
                        <span class="icon icon-fb"></span>
                        <span>
                            <%= text.infoKeys.joinAtFb %>
                        </span>
                    </div>
                    <a class="social-margin support" href="https://zrzutka.pl/69j8ah">
                        <%= text.p7.support %>
                    </a>
                </section>
                <img hidden class="girl" src="desktop/girl.png" alt="Dziewczyna">
            </div>
        </div>
    </body>
</html>